:root {
    --background: #fafdfd;
    --surface: #cde7ec;
    --text-primary: #191c1d;
    --text-secondary: #051f23;
    --links: #006874;
    --accent: purple;
}

[data-theme='dark'] {
    --background: #191c1d;
    --surface: #e1e3e3;
    --text-primary: #fafdfd;
    --text-secondary: grey;
    --links: #4fd8eb;
    --accent: darkred;
}

[data-font='serif'] {
    --font-family: 'Lora', serif;
}

[data-font='san-serif'] {
    --font-family: 'Montserrat', sans-serif;
}

[data-font='monospace'] {
    --font-family: 'Roboto Mono', monospace;
}